<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.customer.dao.CustomerDao">
    <!--查询用户分页列表-->
    <select id="listCustomers" parameterType="com.xzsd.pc.user.entity.UserInfo" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
            user_id userId,
            account,
            role,
            name,
            sex,
            phone,
            email,
            idCard
        from
            t_sys_user
        where
            is_deleted = 0
            and role = 4
        <if test="account != null and account != ''">
            and account like concat('%',#{account},'%')
        </if>
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        order by gmt_create desc
    </select>
</mapper>