<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.delivery.dao.DeliveryDao">
    <!--增加记录-->
    <insert id="addDelivery" parameterType="java.lang.String">
        insert into t_sys_delivery
            (
            user_id,
            receive_sum,
            send_sum,
            deliver_sum,
            is_deleted,
            create_by,
            gmt_create,
            last_modified_by,
            gmt_modified,
            version
            )
        values
            (
            #{userId},
            0,
            0,
            0,
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0
            )
    </insert>
</mapper>