<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.line.dao.LineDao">
    <!--查询线路总数-->
    <select id="queryLineSum" resultType="java.lang.String">
        select
            count(*)
        from
            t_sys_line
        where
            is_deleted = 0
    </select>
    <!--校验线路是否存在-->
    <select id="countLine" parameterType="com.xzsd.pc.line.entity.LineInfo" resultType="int">
        select
            count(*)
        from
            t_sys_line
        where
            is_deleted = 0
            and line_name = #{lineName}
        <if test="lineId != null and lineId !=''">
            and line_id != #{lineId}
        </if>
    </select>
    <!--新增线路-->
    <insert id="addLine" parameterType="com.xzsd.pc.line.entity.LineInfo">
        insert into t_sys_line
            (
            line_id,
            line_name,
            first_site_id,
            second_site_id,
            third_site_id,
            expense,
            income,
            profit,
            is_deleted,
            create_by,
            gmt_create,
            last_modified_by,
            gmt_modified,
            version
            )
        values
            (
            #{lineId},
            #{lineName},
            #{firstSiteId},
            #{secondSiteId},
            #{thirdSiteId},
            0,
            0,
            0,
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0
            )
    </insert>
    <!--查询线路列表-->
    <select id="listLines" parameterType="com.xzsd.pc.line.entity.LineInfo" resultType="com.xzsd.pc.line.entity.LineInfo">
        select
            a.line_id lineId,
            a.line_name lineName,
            b.site_id firstSiteId,
            b.site_name firstSiteName,
            c.site_id secondSiteId,
            c.site_name secondSiteName
        from
            t_sys_line a,t_sys_site b,t_sys_site c
        where
            a.is_deleted = 0
            and a.first_site_id = b.site_id
            and a.second_site_id = c.site_id
        <if test="lineId != null and lineId !=''">
            and line_id = #{lineId}
        </if>
        <if test="lineName != null and lineName !=''">
            and line_name like concat('%',#{lineName},'%')
        </if>
            order by a.gmt_create desc
    </select>
    <!--查询线路详情-->
    <select id="findLineById" parameterType="java.lang.String" resultType="com.xzsd.pc.line.entity.LineInfo">
        select
            a.line_id lineId,
            a.line_name lineName,
            b.site_id firstSiteId,
            b.site_name firstSiteName,
            c.site_id secondSiteId,
            c.site_name secondSiteName,
            d.site_id thirdSiteId,
            d.site_name thirdSiteName,
            expense,
            income,
            profit,
            a.version
        from
            t_sys_line a,t_sys_site b,t_sys_site c,t_sys_site d
        where
            a.is_deleted = 0
            and a.first_site_id = b.site_id
            and a.second_site_id = c.site_id
            and a.third_site_id = d.site_id
            and a.line_id = #{lineId}
    </select>
    <!--修改线路信息-->
    <update id="updateLineById" parameterType="com.xzsd.pc.line.entity.LineInfo">
        update
            t_sys_line
        set
            line_id         = #{lineId},
            line_name       = #{lineName},
            first_site_id       = #{firstSiteId},
            second_site_id      = #{secondSiteId},
            third_site_id       = #{thirdSiteId},
            expense             = #{expense},
            income              = #{income},
            profit              = #{profit},
            last_modified_by    = #{lastModifiedBy},
            gmt_modified    = now(),
            version         = version + 1
        where
            line_id = #{lineId}
            and version = #{version}
    </update>
    <!--删除线路-->
    <update id="deleteLine" parameterType="com.xzsd.pc.line.entity.LineInfo">
        update
            t_sys_line
        set
            is_deleted = 1,
            gmt_modified = now(),
            last_modified_by = #{updateUserId},
            version = version + 1
        where
            line_id in
            <foreach item="item" index="index" collection="listDeleteLineId" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>
    <!--查询线路上的站点-->
    <select id="querySiteByLine" parameterType="java.lang.String" resultType="com.xzsd.pc.line.entity.LineInfo">
        select
            b.site_id firstSiteId,
            b.site_name firstSiteName,
            c.site_id secondSiteId,
            c.site_name secondSiteName,
            d.site_id thirdSiteId,
            d.site_name thirdSiteName
        from
            t_sys_line a,t_sys_site b,t_sys_site c,t_sys_site d
        where
            a.is_deleted = 0
            and a.line_id = #{lineId}
    </select>
</mapper>
