<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.line.dao.LineDao">
    <!--查询线路总数-->
    <select id="queryLineSum" resultType="java.lang.String">
        select
            count(*)
        from
            t_sys_line
        where
            is_deleted = 0
    </select>
    <!--校验线路是否存在-->
    <select id="countLine" parameterType="com.xzsd.pc.line.entity.LineInfo" resultType="int">
        select
            count(*)
        from
            t_sys_line
        where
            is_deleted = 0
            and line_name = #{lineName}
        <if test="lineId != null and lineId !=''">
            and line_id != #{lineId}
        </if>
    </select>
    <!--新增线路-->
    <insert id="addLine" parameterType="com.xzsd.pc.line.entity.LineInfo">
        insert into t_sys_line
            (
            line_id,
            line_name,
            first_site_id,
            second_site_id,
            third_site_id,
            is_deleted,
            create_by,
            gmt_create,
            last_modified_by,
            gmt_modified,
            version
            )
        values
            (
            #{lineId},
            #{lineName},
            #{firstSiteId},
            #{secondSiteId},
            #{thirdSiteId},
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0
            )
    </insert>
    <!--查询线路列表-->
    <select id="listLines" parameterType="com.xzsd.pc.line.entity.LineInfo" resultType="com.xzsd.pc.line.entity.LineInfo">
        select
            a.line_id lineId,
            a.line_name lineName,

        from
            t_sys_site a left join t_sys_user b
        on
            a.is_deleted = 0
            and b.is_deleted = 0
            and b.site_id = a.site_id
        <if test="siteId != null and siteId !=''">
            and site_id = #{siteId}
        </if>
        <if test="siteName != null and siteName !=''">
            and site_name = #{siteName}
        </if>
        <if test="account != null and account !=''">
            and account = #{account}
        </if>
        <if test="provinceId != null and provinceId !=''">
            and province_id = #{provinceId}
        </if>
        <if test="cityId != null and cityId !=''">
            and city_id = #{cityId}
        </if>
            order by a.gmt_create desc
    </select>
</mapper>
