<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OrderDao">
    <!--查件-->
    <select id="listOrders" parameterType="com.xzsd.pc.order.entity.OrderInfo" resultType="com.xzsd.pc.order.entity.OrderInfo">
        select
            a.order_id orderId,
            b.line_name lineName,
            c.site_name originSiteName,
            d.site_name destinationSiteName,
            a.receiver_name receiverName,
            a.receiver_phone receiverPhone,
            weight,
            postage,
            order_state orderState,
            bag_id bagId,
            e.account,
            e.name,
            e.phone,
            concat(g.v,h.v,f.site_name) origin,
            concat(j.v,k.v,i.site_name) destination,
            a.gmt_create gmtCreate
        from
            t_sys_order a,t_sys_line b,t_sys_site c,t_sys_site d,t_sys_user e,
            t_sys_site f,t_sys_dictionary g,t_sys_dictionary h,
            t_sys_site i,t_sys_dictionary j,t_sys_dictionary k
        where
            a.is_deleted = 0
            and a.line_id = b.line_id
            and a.origin_site_id = c.site_id
            and a.destination_site_id = d.site_id
            and a.user_id = e.user_id
            and a.origin_site_id = f.site_id
            and f.province_id = g.dictionary_id
            and f.city_id = h.dictionary_id
            and a.destination_site_id = i.site_id
            and i.province_id = j.dictionary_id
            and i.city_id = k.dictionary_id
        <if test="role == 4">
            and a.user_id = #{userId}
        </if>
        <if test="orderId != null and orderId !=''">
            and order_id = #{orderId}
        </if>
        <if test="account != null and account !=''">
            and e.account like concat('%',#{account},'%')
        </if>
        <if test="phone != null and phone !=''">
            and e.phone like concat('%',#{phone},'%')
        </if>
        <if test="orderState != null and orderState !=''">
            and order_state = #{orderState}
        </if>
        <if test="payTimeStart != null and payTimeEnd != null">
            and a.gmt_create
            between #{payTimeStart} and #{payTimeEnd}
        </if>
        order by a.gmt_create desc
    </select>
    <!--查询站点编号列表-->
    <select id="queryNextSiteById" parameterType="java.lang.String" resultType="com.xzsd.pc.site.entity.SiteInfo">
        select
            dictionary_id dictionaryId,
            v
        from
            t_sys_dictionary
        where
            is_deleted = 0
            and last_classify_id = #{lastClassifyId}
    </select>
    <!--在线下单-->
    <insert id="addOrder" parameterType="com.xzsd.pc.order.entity.OrderInfo">
        insert into t_sys_order
            (
                order_id,
                line_id,
                origin_site_id,
                destination_site_id,
                receiver_name,
                receiver_phone,
                weight,
                postage,
                order_state,
                user_id,
                is_deleted,
                create_by,
                gmt_create,
                last_modified_by,
                gmt_modified,
                version
            )
        values
            (
                #{orderId},
                #{lineId},
                #{originSiteId},
                #{destinationSiteId},
                #{receiverName},
                #{receiverPhone},
                #{weight},
                #{postage},
                0,
                #{userId},
                0,
                #{createBy},
                now(),
                #{lastModifiedBy},
                now(),
                0
            )
    </insert>
    <!--订单详情-->
    <select id="findOrderById" parameterType="java.lang.String" resultType="com.xzsd.pc.order.entity.OrderInfo">
        select
            a.order_id orderId,
            concat(c.v,d.v,b.site_name) origin,
            concat(f.v,g.v,e.site_name) destination,
            a.receiver_name receiverName,
            a.receiver_phone receiverPhone
        from
            t_sys_order a,
            t_sys_site b,t_sys_dictionary c,t_sys_dictionary d,
            t_sys_site e,t_sys_dictionary f,t_sys_dictionary g
        where
            a.is_deleted = 0
            and a.order_id = #{orderId}
            and a.origin_site_id = b.site_id
            and b.province_id = c.dictionary_id
            and b.city_id = d.dictionary_id
            and a.destination_site_id = e.site_id
            and e.province_id = f.dictionary_id
            and e.city_id = g.dictionary_id
    </select>
    <!--订单记录-->
    <select id="findOrderByIds" parameterType="java.lang.String" resultType="com.xzsd.pc.record.entity.RecordInfo">
        select
            a.order_id orderId,
            b.site_name siteName,
            a.order_state orderState,
            c.account,
            a.gmt_create gmtCreate
        from
            t_sys_record a,t_sys_site b,t_sys_user c
        where
            a.is_deleted = 0
            and a.site_id = b.site_id
            and a.create_by = c.user_id
            and a.order_id = #{orderId}
        order by a.gmt_create desc
    </select>
    <!--订单状态修改-->
    <update id="updateOrderState" parameterType="com.xzsd.pc.order.entity.OrderInfo">
        update
            t_sys_order
        set
            order_state = #{orderState},
            gmt_modified = now(),
            last_modified_by = #{updateUserId},
            version = version + 1
        where
            order_id in
        <foreach item="item" index="index" collection="listUpdateOrderId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--查询订单总数-->
    <select id="queryOrderSum" resultType="java.lang.String">
        select
            count(*)
        from
            t_sys_order
        where
            is_deleted = 0
    </select>
    <!--查询是否有订单-->
    <select id="countOrder" parameterType="java.lang.String" resultType="int">
        select
            count(*)
        from
            t_sys_order
        where
            is_deleted = 0
            and order_id = #{orderId}
    </select>
</mapper>