<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OrderDao">
    <!--查件-->
    <select id="listOrders" parameterType="com.xzsd.pc.order.entity.OrderInfo" resultType="com.xzsd.pc.order.entity.OrderInfo">
        select
            order_id orderId,
            b.v originProvinceName,
            c.v originCityName,
            origin,
            d.v destinationProvinceName,
            e.v destinationCityName,
            destination,
            order_state orderState,
            postage,
            f.account,
            f.phone,
            bag_id bagId,
            a.gmt_create gmtCreate
        from
            t_sys_order a,t_sys_dictionary b,t_sys_dictionary c,t_sys_dictionary d,t_sys_dictionary e,t_sys_user f
        where
            a.is_deleted = 0
            and origin_province_id = b.dictionary_id
            and origin_city_id = c.dictionary_id
            and destination_province_id = d.dictionary_id
            and destination_city_id = e.dictionary_id
            and a.user_id = f.user_id
        <if test="role == 4">
            and user_id = #{userId}
        </if>
        <if test="orderId != null and orderId !=''">
            and order_id = #{orderId}
        </if>
        <if test="account != null and account !=''">
            and f.account like concat('%',#{account},'%')
        </if>
        <if test="phone != null and phone !=''">
            and f.phone like concat('%',#{phone},'%')
        </if>
        <if test="orderState != null and orderState !=''">
            and order_state = #{orderState}
        </if>
        <if test="payTimeStart != null and payTimeEnd != null">
            and a.gmt_create
            between #{payTimeStart} and #{payTimeEnd}
        </if>
        order by a.gmt_create desc
    </select>
    <!--查询站点编号列表-->
    <select id="queryNextSiteById" parameterType="java.lang.String" resultType="com.xzsd.pc.site.entity.SiteInfo">
        select
            dictionary_id dictionaryId,
            v
        from
            t_sys_dictionary
        where
            is_deleted = 0
            and last_classify_id = #{lastClassifyId}
    </select>
    <!--在线下单-->
    <insert id="addOrder" parameterType="com.xzsd.pc.order.entity.OrderInfo">
        insert into t_sys_order
            (
                order_id,
                origin_province_id,
                origin_city_id,
                origin,
                destination_province_id,
                destination_city_id,
                destination,
                order_state,
                postage,
                user_id,
                receiver_name,
                receiver_phone,
                is_deleted,
                create_by,
                gmt_create,
                last_modified_by,
                gmt_modified,
                version
            )
        values
            (
                #{orderId},
                #{originProvinceId},
                #{originCityId},
                #{origin},
                #{destinationProvinceId},
                #{destinationCityId},
                #{destination},
                0,
                #{postage},
                #{userId},
                #{receiverName},
                #{receiverPhone},
                0,
                #{createBy},
                now(),
                #{lastModifiedBy},
                now(),
                0
            )
    </insert>
    <!--订单详情-->
    <select id="findOrderById" parameterType="java.lang.String" resultType="com.xzsd.pc.order.entity.OrderInfo">
        select
            order_id orderId,
            b.v originProvinceName,
            c.v originCityName,
            origin,
            d.v destinationProvinceName,
            e.v destinationCityName,
            destination,
            receiver_name receiverName,
            receiver_phone receiverPhone,
            order_state orderState,
            postage,
            account,
            phone,
            bag_id bagId,
            a.gmt_create gmtCreate,
            a.version
        from
            t_sys_order a,t_sys_dictionary b,t_sys_dictionary c,t_sys_dictionary d,t_sys_dictionary e,t_sys_user f
        where
            a.is_deleted = 0
            and origin_province_id = b.dictionary_id
            and origin_city_id = c.dictionary_id
            and destination_province_id = d.dictionary_id
            and destination_city_id = e.dictionary_id
            and order_id = #{orderId}
            and a.user_id = f.user_id
        order by a.gmt_create desc
    </select>
    <!--订单状态修改-->
    <update id="updateOrderState" parameterType="com.xzsd.pc.order.entity.OrderInfo">
        update
            t_sys_order
        set
            order_state = #{orderState},
            gmt_modified = now(),
            last_modified_by = #{updateUserId},
            version = version + 1
        where
            order_id in
        <foreach item="item" index="index" collection="listUpdateOrderId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--查询订单总数-->
    <select id="queryOrderSum" resultType="java.lang.String">
        select
            count(*)
        from
            t_sys_order
        where
            is_deleted = 0
    </select>
</mapper>