<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.record.dao.RecordDao">
    <!--增加订单记录-->
    <insert id="addRecord" parameterType="com.xzsd.pc.record.entity.RecordInfo">
        insert into t_sys_record
            (
            order_id,
            site_id,
            order_state,
            is_deleted,
            create_by,
            gmt_create,
            last_modified_by,
            gmt_modified,
            version
            )
        values
        <foreach collection="listUpdateOrderId" item="item" separator=",">
            (
            #{item},
            #{siteId},
            #{orderState},
            0,
            #{updateUserId},
            now(),
            #{updateUserId},
            now(),
            0
            )
        </foreach>
    </insert>
    <!--查询记录列表-->
    <select id="listRecords" parameterType="com.xzsd.pc.record.entity.RecordInfo" resultType="com.xzsd.pc.record.entity.RecordInfo">
        SELECT
            x.account,
            w.role,
            x.receiveSum,
            y.sendSum,
            z.deliverSum
        FROM
            (select
                a.gmt_create,a.site_id siteId,b.user_id userId,b.account,count(*) receiveSum
            from
                t_sys_record a,t_sys_user b
            WHERE
                a.create_by = b.user_id
                and a.order_state = 1
            <if test="(role == 1) || (siteId != null and siteId != '')">
                and a.site_id = #{siteId}
            </if>
            <if test="timeStart != null and timeEnd != null">
                and a.gmt_create
                between #{timeStart} and #{timeEnd}
            </if>
            GROUP BY a.create_by) x
        LEFT JOIN
            (select
                a.gmt_create,b.user_id userId,b.account,count(*) sendSum
            from
                t_sys_record a,t_sys_user b
            WHERE
                a.create_by =  b.user_id
                and a.order_state = 2
            <if test="timeStart != null and timeEnd != null">
                and a.gmt_create
                between #{timeStart} and #{timeEnd}
            </if>
            GROUP BY a.create_by) y
        ON x.userId = y.userId
        LEFT JOIN
            (select
                a.gmt_create,b.user_id userId,b.account,count(*) deliverSum
            from
                t_sys_record a,t_sys_user b
            WHERE
                a.create_by =  b.user_id
                and a.order_state = 3
            <if test="timeStart != null and timeEnd != null">
                and a.gmt_create
                between #{timeStart} and #{timeEnd}
            </if>
            GROUP BY a.create_by) z
        ON x.userId = z.userId
        LEFT JOIN t_sys_user w
            ON x.userId = w.user_id
        WHERE
            w.role != 4
    </select>
</mapper>