<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.site.dao.SiteDao">
    <!--校验站点是否存在-->
    <select id="countSite" parameterType="com.xzsd.pc.site.entity.SiteInfo" resultType="int">
        select
            count(*)
        from
            t_sys_site
        where
            is_deleted = 0
            and site_name = #{siteName}
        <if test="siteId != null and siteId !=''">
            and site_id != #{siteId}
        </if>
    </select>
    <!--新增站点-->
    <insert id="addSite" parameterType="com.xzsd.pc.site.entity.SiteInfo">
        insert into t_sys_site
            (
            site_id,
            site_name,
            province_id,
            city_id,
            is_deleted,
            create_by,
            gmt_create,
            last_modified_by,
            gmt_modified,
            version
            )
        values
            (
            #{siteId},
            #{siteName},
            #{provinceId},
            #{cityId},
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0
            )
    </insert>
    <!--查询站点列表-->
    <select id="listSites" parameterType="com.xzsd.pc.site.entity.SiteInfo" resultType="com.xzsd.pc.site.entity.SiteInfo">
        select
            a.site_id siteId,
            a.site_name siteName,
            b.account
        from
            t_sys_site a left join t_sys_user b
        on
            a.is_deleted = 0
            and b.is_deleted = 0
            and b.site_id = a.site_id
        <if test="siteId != null and siteId !=''">
            and site_id = #{siteId}
        </if>
        <if test="siteName != null and siteName !=''">
            and site_name = #{siteName}
        </if>
        <if test="account != null and account !=''">
            and account = #{account}
        </if>
        <if test="provinceId != null and provinceId !=''">
            and province_id = #{provinceId}
        </if>
        <if test="cityId != null and cityId !=''">
            and city_id = #{cityId}
        </if>
        order by a.gmt_create desc
    </select>
    <!--查询站点详情-->
    <select id="findSiteById" parameterType="java.lang.String" resultType="com.xzsd.pc.site.entity.SiteInfo">
        select
            a.site_id siteId,
            a.site_name siteName,
            b.v provinceName,
            c.v cityName
            a.version
        from
            t_sys_site a,t_sys_dictionary b,t_sys_dictionary c
        where
            a.is_deleted = 0
            and a.province_id = b.dictionary_id
            and a.city_id = c.dictionary_id,
            and site_id = #{siteId}
    </select>
    <!--修改站点信息-->
    <update id="updateSiteById" parameterType="com.xzsd.pc.site.entity.SiteInfo">
        update
            t_sys_site
        set
            site_id         = #{siteId},
            site_name       = #{siteName},
            province_id       = #{provinceId},
            city_id            = #{cityId},
            last_modified_by    = #{lastModifiedBy},
            gmt_modified    = now(),
            version         = version + 1
        where
            site_id = #{siteId}
            and version = #{version}
    </update>
    <!--删除站点-->
    <update id="deleteSite" parameterType="com.xzsd.pc.site.entity.SiteInfo">
        update
            t_sys_site
        set
            is_deleted = 1,
            gmt_modified = now(),
            last_modified_by = #{updateUserId}
            version = version + 1
        where
            site_id in
        <foreach item="item" index="index" collection="listDeleteSiteId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--查询站点总数-->
    <select id="querySiteSum" resultType="java.lang.String">
        select
            count(*)
        from
            t_sys_site
        where
            is_deleted = 0
    </select>
</mapper>